<h1>Morrowind Potions Helper</h1>
<p>Select all the ingredients that are in your inventory, and click the button. You'll get back a list of possible potions to make with those ingredients.</p>
<br>
<% form_tag '/potions' do %>
<!-- 111 ingredients -->
<table>
	<tr>
	<% @ingredient.each do |i| %>
		<td><%= check_box_tag i.id %><%= i.ingredient %></td>
		<% @inc = @inc + 1 %>
		<% if @inc == 10 %>
			<%= raw "</tr><tr>" %>
			<% @inc = 0 %>
		<% end %>
	<% end %>
</table>
<%= submit_tag "What can I make with these ingredients?" %>
<% end %>